{
  "trailingComma": "none",
  "singleQuote": true,
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useTabs": false,
  "quoteProps": "as-needed",
  "objectWrap": "preserve",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
