<div class="flex h-screen w-full overflow-hidden">
  <app-sidebar></app-sidebar>
  <div class="flex grow flex-col content-start overflow-hidden">
    <app-navbar></app-navbar>
    <div
      id="main-content"
      class="bg-background scrollbar-thumb-rounded scrollbar-track-rounded scrollbar-thin scrollbar-track-transparent
        scrollbar-thumb-muted grow overflow-auto">
      <div class="mx-auto px-4 py-4 sm:px-8 2xl:container">
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p-button label="Submit" />
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <div class="card">
          <p>Test</p>
          <p>Test</p>
          <p>Test</p>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
