<div class="mx-4 my-2">
  <span class="text-color text-sm font-semibold">Color</span>
  <div class="mt-2 grid grid-cols-2 gap-2">
    @for (color of primaryColors(); track color.name) {
      <app-theme-option-tile
        [label]="color.name"
        [active]="color.name === theme().color"
        (select)="togglePrimaryColor(color.name)">
        <span
          [style.backgroundColor]="color.palette['500']"
          class="flex h-5 w-5 shrink-0 items-center justify-center rounded-full">
        </span>
      </app-theme-option-tile>
    }
  </div>
</div>
<div class="mx-4 my-2">
  <span class="text-color text-sm font-semibold">Surface</span>
  <div class="mt-2 grid grid-cols-2 gap-2">
    @for (surface of surfaces(); track surface.name) {
      <app-theme-option-tile
        [label]="surface.name"
        [active]="surface.name === theme().surface"
        (select)="toggleSurface(surface)">
        <span
          [style.backgroundColor]="surface.palette['500']"
          class="flex h-5 w-5 shrink-0 items-center justify-center rounded-full">
        </span>
      </app-theme-option-tile>
    }
  </div>
</div>
<div class="mx-4 my-2">
  <span class="text-color text-sm font-semibold">Surface</span>
  <div class="mt-2 grid grid-cols-2 gap-2">
    @for (mode of themeMode; track mode) {
      <app-theme-option-tile [label]="mode" [active]="mode === theme().mode" (select)="toggleMode(mode)">
        <lucide-icon
          [img]="mode === 'light' ? sunIcon : moonIcon"
          class="text-muted-foreground/50 h-5 w-5"></lucide-icon>
      </app-theme-option-tile>
    }
  </div>
</div>
